<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console"/>

		<add key="AppSettings:LocalInputDirectoryFullPath" value="C:\\LottoDriverResults\\InputFiles" />
		<add key="AppSettings:LocalBackupDirectoryFullPath" value="C:\\LottoDriverResults\\InputFiles\\Backup" />
		<add key="AppSettings:ClientName" value="ClientName" />
		<add key="AppSettings:FtpHost" value="127.0.0.1" />
		<add key="AppSettings:FtpUsername" value="testAccount" />
		<add key="AppSettings:FtpPassword" value="testAccountPassword" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>